<section class="hero">
  <div class="container">
    <div class="hero__divs">
      <div>
        <h1 class="hero__title">
          Ice cream <br />
          made with <br />
          <span class="hero__title-accent">passion</span>
        </h1>
        <div class="hero__btn">
          <a href="#products"></a>
          <button class="hero__btn-products hero__link-products">
            Products
          </button>
          <a href="#about_us"></a>
          <button class="hero__btn-made hero__link-made">How it’s made?</button>
        </div>
      </div>
      <div>
        <ul>
          <li>
            <p class="hero__numbers">16</p>
            <span class="hero__numbers-discription">cafes</span>
          </li>
          <li>
            <p class="hero__numbers">23</p>
            <span class="hero__numbers-discription">food trucks</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero__milk">
      <ul>
        <li>
          <p class="hero__milk-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
        </li>
        <li>
          <button class="hero__section-img">
            <svg class="hero__list-img">
              <use href="./images/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
